asgiref
bcrypt
dj-database-url
Django
et-xmlfile
gunicorn
Jinja2
MarkupSafe
openpyxl
packaging
psycopg2-binary
sqlparse
typing_extensions
tzdata
waitress
django-import-export
pandas
plotly
openai
python-dotenv